/* Copyright 2013 The Chromium Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file. */

#main-content h1 {
	margin-top: 0;
	word-wrap: break-word;
	color: var(--heading-color);
	font-size: 1.6em;
	font-weight: normal;
	font-family: "Segoe UI", sans-serif;
	line-height: 1.25em;
	margin-bottom: 16px;
}

#main-content h1 span {
	font-weight: 500;
}

#main-content .icon {
	height: 72px;
	margin: 0 0 26px;
	width: 72px;
}

.icon-offline {
	content: -webkit-image-set(
			url(../assets/100-error-offline.png) 1x,
			url(../assets/200-error-offline.png) 2x);
	position: relative;
}

.hidden {
	display: none;
}

/* Decrease padding at low sizes. */
@media (max-width: 640px), (max-height: 640px) {
	#main-content h1 {
		margin: 0 0 15px;
	}
}

/* Offline page */
.offline {
	transition: filter 1.5s cubic-bezier(0.65, 0.05, 0.36, 1),
							background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.offline > div {
	transition: background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.offline.inverted {
	background-color: #fff;
	filter: invert(1);
}

.offline.inverted > div {
	background-color: #fff;
}

.offline .interstitial-wrapper {
	color: var(--text-color);
	font-size: 1em;
	line-height: 1.55;
	margin: 0 auto;
	max-width: 600px;
	padding: 100px 4px 0;
	position: relative;
	width: calc(100% - 8px);
	height: 150px;
}

.offline .runner-container {
	direction: ltr;
	position: absolute;
	overflow: hidden;
	top: 35px;
	width: 44px;
	max-width: 600px;
	height: 150px;
}

.offline .runner-container:focus {
	outline: none;
}

.offline .runner-container:focus-visible {
	outline: 3px solid var(--google-blue-300);
}

.offline .runner-canvas {
	position: absolute;
	z-index: 1;
	top: 0;
	opacity: 1;
	overflow: hidden;
	max-width: 600px;
	height: 150px;
}

#offline-resources {
	display: none;
}

.offline-runner-live-region {
	bottom: 0;
	clip-path: polygon(0 0, 0 0, 0 0);
	color: var(--background-color);
	display: block;
	font-size: xx-small;
	overflow: hidden;
	position: absolute;
	text-align: center;
	transition: color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	user-select: none;
}

/* Custom toggle */
.slow-speed-option {
	align-items: center;
	background: var(--google-gray-50);
	border-radius: 24px/50%;
	bottom: 0;
	color: var(--error-code-color);
	display: inline-flex;
	font-size: 1em;
	left: 0;
	line-height: 1.1em;
	margin: 5px auto;
	padding: 2px 12px 3px 20px;
	position: absolute;
	right: 0;
	width: max-content;
	z-index: 2;
}

.slow-speed-option.hidden {
	display: none;
}

.slow-speed-option [type=checkbox] {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.slow-speed-option .slow-speed-toggle {
	cursor: pointer;
	margin-inline-start: 8px;
	padding: 8px 4px;
	position: relative;
}

.slow-speed-option [type=checkbox]:disabled ~ .slow-speed-toggle {
	cursor: default;
}

.slow-speed-option-label [type=checkbox] {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.slow-speed-option .slow-speed-toggle::before,
.slow-speed-option .slow-speed-toggle::after {
	content: '';
	display: block;
	margin: 0 3px;
	transition: all 100ms cubic-bezier(0.4, 0, 1, 1);
}

.slow-speed-option .slow-speed-toggle::before {
	background: rgb(189,193,198);
	border-radius: 0.65em;
	height: 0.9em;
	width: 2em;
}

.slow-speed-option .slow-speed-toggle::after {
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 40%);
	height: 1.2em;
	position: absolute;
	top: 51%;
	transform: translate(-20%, -50%);
	width: 1.1em;
}

.slow-speed-option [type=checkbox]:focus + .slow-speed-toggle {
	box-shadow: 0 0 8px rgb(94, 158, 214);
	outline: 1px solid rgb(93, 157, 213);
}

.slow-speed-option [type=checkbox]:checked + .slow-speed-toggle::before {
	background: var(--google-blue-600);
	opacity: 0.5;
}

.slow-speed-option [type=checkbox]:checked + .slow-speed-toggle::after {
	background: var(--google-blue-600);
	transform: translate(calc(2em - 90%), -50%);
}

.slow-speed-option [type=checkbox]:checked:disabled +
	.slow-speed-toggle::before {
	background: rgb(189,193,198);
}

.slow-speed-option [type=checkbox]:checked:disabled +
	.slow-speed-toggle::after {
	background: var(--google-gray-50);
}

@media (max-height: 350px) {
	#main-content h1 {
		margin: 0 0 15px;
	}

	.icon-offline {
		margin: 0 0 10px;
	}

	.interstitial-wrapper {
		margin-top: 5%;
	}
}

@media (min-width: 420px) and (max-width: 736px) and
			(min-height: 240px) and (max-height: 420px) and
			(orientation:landscape) {
	.interstitial-wrapper {
		margin-bottom: 100px;
	}
}

@media (max-width: 360px) and (max-height: 480px) {
	.offline .interstitial-wrapper {
		padding-top: 60px;
	}

	.offline .runner-container {
		top: 8px;
	}
}

@media (min-height: 240px) and (orientation: landscape) {
	.offline .interstitial-wrapper {
		margin-bottom: 90px;
	}

	.icon-offline {
		margin-bottom: 20px;
	}
}

@media (max-height: 320px) and (orientation: landscape) {
	.icon-offline {
		margin-bottom: 0;
	}

	.offline .runner-container {
		top: 10px;
	}
}

@media (max-width: 240px) {
	.interstitial-wrapper {
		overflow: inherit;
		padding: 0 8px;
	}
}

@media (prefers-color-scheme: dark) {
	#main-content .icon {
		filter: invert(1);
	}

	.offline .runner-canvas {
		filter: invert(1);
	}

	.offline.inverted {
		background-color: var(--background-color);
		filter: invert(0);
	}

	.offline.inverted > div {
		background-color: #fff;
	}

	.offline.inverted .offline-runner-live-region {
		color: #fff;
	}

	.slow-speed-option {
		background: var(--google-gray-800);
		color: var(--google-gray-100);
	}

	.slow-speed-option .slow-speed-toggle::before,
	.slow-speed-option [type=checkbox]:checked:disabled +
		.slow-speed-toggle::before {
		background: rgb(189,193,198);
	}

	.slow-speed-option [type=checkbox]:checked + .slow-speed-toggle::after,
	.slow-speed-option [type=checkbox]:checked + .slow-speed-toggle::before {
		background: var(--google-blue-300);
	}
}
