/* Put the following in head:
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script> */
/* Put the following in body:
	<link rel="stylesheet" href="styles/prettyprint.css"> */

/* https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night-bright.css */
/* Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

.prettyprint {
	font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

.pln {color: #eaeaea;}

@media screen {
	.str {color: #b9ca4a;} /* string content */
	.kwd {color: #c397d8;} /* keyword */
	.com {color: #969896;} /* comment */
	.typ {color: #7aa6da;} /* type name */
	.lit {color: #e78c45;} /* literal value */
	.pun {color: #eaeaea;} /* punctuation */
	.opn {color: #eaeaea;} /* lisp open bracket */
	.clo {color: #eaeaea;} /* lisp close bracket */
	.tag {color: #d54e53;} /* markup tag name */
	.atn {color: #e78c45;} /* markup attribute name */
	.atv {color: #70c0b1;} /* markup attribute value */
	.dec {color: #e78c45;} /* declaration */
	.var {color: #d54e53;} /* variable name */
	.fun {color: #7aa6da;} /* function name */
}
