/* Add the following in head:
 * <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
 * <link rel="stylesheet" href="/css/prettyprint.css">
 *
 * https://www.npmjs.com/package/code-prettify-google
 * https://jmblog.github.io/color-themes-for-google-code-prettify */

/* GitHub v2 */
.pln {color: #333;}

@media screen {
	.str {color: #183691;} /* string content */
	.kwd {color: #a71d5d;} /* keyword */
	.com {color: #969896;} /* comment */
	.typ {color: #0086b3;} /* type name */
	.lit {color: #0086b3;} /* literal value */
	.pun {color: #333;}    /* punctuation */
	.opn {color: #333;}    /* lisp open bracket */
	.clo {color: #333;}    /* lisp close bracket */
	.tag {color: #000080;} /* markup tag name */
	.atn {color: #795da3;} /* markup attribute name */
	.atv {color: #183691;} /* markup attribute value */
	.dec {color: #333;}    /* declaration */
	.var {color: #008080;} /* variable name */
	.fun {color: #900;}    /* function name */
}

@media (prefers-color-scheme: dark) {
	/* Tomorrow Night */
	.pln {color: #c5c8c6;}

	@media screen {
		.str {color: #b5bd68;} /* string content */
		.kwd {color: #b294bb;} /* keyword */
		.com {color: #969896;} /* comment */
		.typ {color: #81a2be;} /* type name */
		.lit {color: #de935f;} /* literal value */
		.pun {color: #c5c8c6;}    /* punctuation */
		.opn {color: #c5c8c6;}    /* lisp open bracket */
		.clo {color: #c5c8c6;}    /* lisp close bracket */
		.tag {color: #cc6666;} /* markup tag name */
		.atn {color: #de935f;} /* markup attribute name */
		.atv {color: #8abeb7;} /* markup attribute value */
		.dec {color: #de935f;}    /* declaration */
		.var {color: #cc6666;} /* variable name */
		.fun {color: #81a2be;}    /* function name */
	}
}
