:root {
	/* Colors */
	--active-bgcolor: royalblue;
	--active-color: #fff;
	--inactive-bgcolor: cornflowerblue;
	--inactive-color: #fff;

	--footer-bgcolor: steelblue;
	--footer-color: #fff;

	--hide-text-bgcolor: #f9e1cc;
	--hide-text-color: #e06800;

	--shadow-color: rgba(0, 0, 0, 0.2);
}

.MathJax {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1px 0;
}

body {
	margin: 0;
	font-size: 15px;
	font-family: "Noto Sans", sans-serif;
	color: #36312d;
}

div.container {
	display: none;
	margin: 0 16px;
}

div.right-align {
	font-style: italic;
	text-align: right;
}

code {
	margin: 0 3px;
	font-size: 90%;
	font-family: monospace;
}

img {
	max-width: 100%;
}

img.latexcenter {
	display: block;
	margin: 5px auto;
	box-sizing: content-box;
	padding: 1em 0;
}

/* Links */
a:link,
a:visited {
	text-decoration: none;
	color: steelblue;
}

a:hover {
	text-decoration: underline;
	color: cadetblue;
}

a:active {
	text-decoration: underline;
}

/* Headings */
h1,
h1 a:link,
h1 a:visited {
	color: royalblue;
}

h2,
h2 a:link,
h2 a:visited {
	color: darkcyan;
}

h3,
h3 a:link,
h3 a:visited {
	color: firebrick;
}

a.hash-link {
	opacity: 0.2;
	margin-left: 7px;
	text-shadow: 0 0 5px #ff0;
}

a.hash-link:hover {
	opacity: 1;
	text-decoration: none;
}

/* Lists */
ul.square {
	list-style: square;
}

ul.square ul {
	list-style: none;
}

ul.square ul > li {
	position: relative;
}

ul.square ul > li:before {
	content: "\25A1";
	position: absolute;
	top: 2px;
	left: -20px;
	font-size: 15px;
	text-align: center;
}

ol.custom {
	counter-reset: list-counter;
	list-style: none;
}

ol.custom > li {
	counter-increment: list-counter;
	position: relative;
	left: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
}

ol.custom > li:before {
	content: counter(list-counter);
	position: absolute;
	top: -1px;
	left: -36px;
	box-shadow: 2px 2px #999;
	border: solid 2px #00f;
	padding: 0 5px;
	line-height: 20px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: #00f;
}

ul.custom-square {
	list-style: square;
}

ul.custom-square > li {
	padding: 7px 0;
}

ol.par-alpha {
	counter-reset: list-counter;
	list-style: none;
}

ol.par-alpha > li {
	counter-increment: list-counter;
	position: relative;
	padding: 7px 0;
}

ol.par-alpha > li:before {
	content: counter(list-counter, lower-alpha) ")";
	position: absolute;
	left: -26px;
}

/* Header */
div.header {
	margin: 0;
	background: steelblue;
	text-align: center;
}

div.header h1 {
	margin: 0;
	padding: 20px 0;
	font-family: "Trebuchet MS", sans-serif;
}

div.header h1 a {
	font-size: 45px;
	color: #fff;
}

/* Sticky navigation bar */
ul.topnav {
	position: sticky;
	z-index: 4;
	top: 0;
	display: flex;
	margin: 0;
	padding: 0;
	background: var(--inactive-bgcolor);
	font-family: "Roboto", sans-serif;
	list-style-type: none;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: inline-block;
	height: calc(100% - 20px);
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	color: var(--inactive-color);
}

ul.topnav li a.active,
ul.topnav li a.inactive:hover {
	background: var(--active-bgcolor);
	color: var(--active-color);
}

ul.topnav li.dropdown {
	position: relative;
	display: inline-block;
}

li.dropdown ul.dropdown {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	overflow: hidden;
	box-shadow: 0 8px 16px 0 var(--shadow-color);
	padding: 0;
	background: var(--inactive-bgcolor);
	list-style-type: none;
}

li.dropdown ul.dropdown a {
	width: 500px;
	text-align: left;
}

/* Footer */
div.footer {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	background: var(--footer-bgcolor);
	font-family: "Times New Roman", serif;
	text-align: center;
	text-decoration: none;
	color: var(--footer-color);
}

/* Icon */
div.icon {
	position: absolute;
	width: 25px;
	height: 25px;
	transition: 0.25s;
	padding: 0;
}

div.icon:hover {
	transform: scale(1.2);
}

div.icon-github {
	right: 15px;
}

div.icon-facebook {
	right: 55px;
}

/* Dropdown */
div.hide-content {
	position: sticky;
	display: none;
	margin: 10px 0;
	box-shadow: 0 8px 16px 0 var(--shadow-color);
	border: 2px solid #dcdcdc;
	border-radius: 10px;
	padding: 12px;
	background: #e6e6e6;
	text-align: left;
	color: #555;
}

div.hide-content code {
	font-size: 14px;
	text-decoration: none;
	color: #eaeaea;
}

a.hide-content:link,
a.hide-content:visited {
	border-radius: 3px;
	padding: 0 4px;
	background: var(--hide-text-bgcolor);
	text-decoration: none;
	color: var(--hide-text-color);
}

a.hide-content:hover {
	background: var(--hide-text-color);
	text-decoration: none;
	color: #fff;
}

/* Iframe */
div.iframe {
	position: relative;
	overflow: hidden;
	margin: 18px 0;
	max-width: 800px;
	padding-top: 450px;
}

iframe.responsive-iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-width: 0;
	width: 100%;
	height: 100%;
}

/* Playlist */
audio.playlist {
	margin: 30px 0 10px;
	border-radius: 40px;
	width: calc(900px - 6px);
	height: 30px;
	padding: 3px;
	background: mediumturquoise;
}

div.playlist {
	overflow-y: scroll;
	margin-bottom: 30px;
	border-radius: 15px;
	width: 900px;
	max-height: 170px;
	padding: 5px;
	background: mediumturquoise;
}

ol.playlist {
	counter-reset: playlist-counter;
	margin: 0;
	width: calc(100% - 10px);
	padding: 5px;
	list-style: none;
}

ol.playlist li {
	counter-increment: playlist-counter;
	position: relative;
	left: 32px;
	width: calc(100% - 32px);
}

ol.playlist li:before {
	content: counter(playlist-counter) ".";
	position: absolute;
	top: 5px;
	right: calc(100% + 2px);
	text-align: right;
	color: #fff;
}

ol.playlist li.active-audio:before,
ol.playlist li.active-audio a {
	color: #003c3c;
}

ol.playlist li.active-audio a {
	text-decoration: none;
	text-shadow: 0 0 1px;
}

ol.playlist li a {
	display: block;
	padding: 5px;
	color: #fff;
}

ol.playlist li a:hover {
	text-decoration: none;
	text-shadow: 0 0 3px;
}

@media (min-width: 768px) and (max-width: 991px) {
	audio.playlist {
		margin: 30px 0 6px;
		width: calc(100% - 6px);
	}

	div.playlist {
		width: calc(100% - 10px);
	}
}

@media (max-width: 767px) {
	div.container {
		margin: 0 8px;
	}

	/* Lists */
	ul.square ul > li {
		left: -20px;
	}

	ul.square ul > li:before {
		left: -10px;
		font-size: 8px;
	}

	ol.custom > li {
		left: -17px;
		margin-bottom: 8px;
		margin-right: -18px;
	}

	ol.custom > li:before {
		top: 2px;
		left: -22px;
		box-shadow: 1px 1px #999;
		border-width: 1px;
		padding: 1px 2.6px 1px 2.6px;
		line-height: 12px;
	}

	ul.custom-square > li {
		margin-left: -17px;
		padding: 5px 0;
	}

	ol.par-alpha > li {
		margin-left: -17px;
		padding: 5px 0;
	}

	ol.par-alpha > li:before {
		left: -15px;
	}

	/* Header */
	div.header h1 {
		padding: 22px 0;
	}

	div.header h1 a {
		font-size: 32px;
	}

	/* Sticky navigation bar */
	ul.topnav li a {
		height: calc(100% - 14px);
		padding: 7px;
		font-size: 13px;
	}

	/* Footer */
	div.footer {
		padding: 8px;
	}

	/* Icon */
	div.icon {
		width: 23px;
		height: 23px;
	}

	div.icon:hover {
		transform: scale(1.1);
	}

	div.icon-github {
		right: 11px;
	}

	div.icon-facebook {
		right: 46px;
	}

	/* Dropdown */
	div.hide-content {
		margin: 4px 0;
		border-width: 1px;
		border-radius: 8px;
		padding: 9px;
	}

	div.hide-content code {
		font-size: 10px;
	}

	a.hide-content:link,
	a.hide-content:visited {
		border-radius: 2px;
		padding: 0 2px;
	}

	/* Iframe */
	div.iframe {
		margin: 8px 0;
		width: 100%;
		padding-top: 56.25%;
	}

	/* Playlist */
	audio.playlist {
		margin: 14px 0 1px;
		border-radius: 20px;
		width: calc(100% - 4px);
		height: 24px;
		padding: 2px;
	}

	div.playlist {
		margin-bottom: 14px;
		border-radius: 10px;
		width: calc(100% - 4px);
		padding: 2px;
	}

	ol.playlist li {
		left: 20px;
		width: calc(100% - 20px);
	}

	ol.playlist li:before {
		top: 2px;
		right: calc(100% + 3px);
	}

	ol.playlist li a {
		padding: 2px;
	}

	ol.playlist li a:hover {
		text-shadow: 0 0 1px;
	}
}
