:root {
	/* Colors */
	--footer-bgcolor: steelblue;
	--footer-color: #fff;

	--nav-active-bgcolor: royalblue;
	--nav-active-color: #fff;
	--nav-inactive-bgcolor: cornflowerblue;
	--nav-inactive-color: #fff;

	--hide-text-bgcolor: #f9e1cc;
	--hide-text-color: #e06800;

	--shadow-color: rgba(0, 0, 0, 0.2);
}

.MathJax {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1px 0;
}

body {
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	color: #36312d;
}

div.container {
	opacity: 0;
	margin: 0 16px;
	transition: 0.1s;
}

div.right-align {
	font-style: italic;
	text-align: right;
}

/* Images */
img {
	max-width: 100%;
}

img.latexcenter {
	display: block;
	margin: 5px auto;
	padding: 1em 0;
	box-sizing: content-box;
}

/* Links */
a:link,
a:visited {
	text-decoration: none;
	color: steelblue;
	transition: 0.2s;
}

a:hover {
	text-decoration: underline;
	color: cadetblue;
}

a:active {
	text-decoration: underline;
}

/* Headings */
h1,
h1 a:link,
h1 a:visited {
	color: royalblue;
}

h2,
h2 a:link,
h2 a:visited {
	color: darkcyan;
}

h3,
h3 a:link,
h3 a:visited {
	color: firebrick;
}

a.hash-link {
	margin-left: 7px;
	opacity: 0.2;
	text-shadow: 0 0 5px #ff0;
}

a.hash-link:hover {
	opacity: 1;
	text-decoration: none;
}

/* Lists */
ul.square {
	list-style: square;
}

ul.square ul {
	list-style: none;
}

ul.square ul li {
	position: relative;
}

ul.square ul li::before {
	content: "\25A1";
	font-size: 15px;
	text-align: center;
	position: absolute;
	left: -20px;
	top: 2px;
}

ol.custom {
	counter-reset: list-counter;
	list-style: none;
}

ol.custom li.custom {
	margin-bottom: 15px;
	margin-right: 10px;
	counter-increment: list-counter;
	position: relative;
	left: 10px;
}

ol.custom li.custom::before {
	content: counter(list-counter);
	color: #00f;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	position: absolute;
	left: -36px;
	top: -1px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
	border: solid 2px #00f;
	box-shadow: 2px 2px #999;
}

ul.custom-square {
	list-style: square;
}

ul.custom-square li {
	padding: 7px 0;
}

ol.par-alpha {
	counter-reset: list-counter;
	list-style: none;
}

ol.par-alpha li {
	counter-increment: list-counter;
	padding: 7px 0;
	position: relative;
}

ol.par-alpha li::before {
	content: counter(list-counter, lower-alpha) ")";
	position: absolute;
	left: -26px;
}

/* Header */
div.header {
	margin: 0;
	text-align: center;
	background: steelblue;
}

div.header h1 {
	margin: 0;
	padding: 20px 0;
	font-family: "Trebuchet MS", sans-serif;
}

div.header h1 a {
	font-size: 45px;
	color: #fff;
}

/* Sticky navigation bar */
ul.topnav {
	display: flex;
	position: sticky;
	margin: 0;
	padding: 0;
	top: 0;
	font-family: "Roboto", sans-serif;
	background: var(--nav-inactive-bgcolor);
	list-style-type: none;
	z-index: 2;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: inline-block;
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	color: var(--nav-inactive-color);
}

ul.topnav li a.active {
	background: var(--nav-active-bgcolor);
	color: var(--nav-active-color);
}

ul.topnav li a.inactive:hover {
	background: var(--nav-active-bgcolor);
	color: var(--nav-active-color);
}

ul.topnav li.dropdown {
	display: inline-block;
	position: relative;
}

li.dropdown ul.dropdown {
	display: none;
	position: absolute;
	overflow: hidden;
	padding: 0;
	left: 0;
	right: 0;
	background: var(--nav-inactive-bgcolor);
	box-shadow: 0 8px 16px 0 var(--shadow-color);
	list-style-type: none;
}

li.dropdown ul.dropdown a {
	width: 500px;
	text-align: left;
}

/* Footer */
div.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	font-family: "Times New Roman", serif;
	background: var(--footer-bgcolor);
	color: var(--footer-color);
}

/* Icon */
div.icon {
	position: absolute;
	padding: 0;
	width: 25px;
	height: 25px;
	transition: 0.3s;
}

div.icon-github {
	right: 15px;
	bottom: 8px;
}

div.icon-facebook {
	right: 55px;
	bottom: 8px;
}

/* Dropdown */
div.hide-content {
	display: none;
	position: sticky;
	margin: 10px 0;
	text-align: left;
	color: #555;
	box-shadow: 0 8px 16px 0 var(--shadow-color);
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	background: #e6e6e6;
	border-radius: 10px;
	padding: 12px;
}

div.hide-content code {
	text-decoration: none;
	font-size: 14px;
	color: #eaeaea;
}

a.hide-content:link,
a.hide-content:visited {
	padding: 0 4px;
	border-radius: 3px;
	background: var(--hide-text-bgcolor);
	color: var(--hide-text-color);
	text-decoration: none;
}

a.hide-content:hover {
	background: var(--hide-text-color);
	color: #fff;
	text-decoration: none;
}

/* Iframe */
div.iframe {
	position: relative;
	overflow: hidden;
	width: 800px;
	padding-top: 450px;
	margin: 18px 0;
}

iframe.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
}

/* Playlist */
audio.playlist {
	background: mediumturquoise;
	width: 900px;
	height: 30px;
	margin: 30px 0 10px;
	padding: 3px;
	border-radius: 40px;
}

div.playlist {
	background: mediumturquoise;
	padding: 5px;
	border-radius: 15px;
	width: 900px;
	max-height: 170px;
	margin-bottom: 30px;
	overflow-y: scroll;
}

ol.playlist {
	width: 850px;
	padding: 5px;
	counter-reset: playlist-counter;
	list-style: none;
	margin: 0;
}

ol.playlist li {
	counter-increment: playlist-counter;
	position: relative;
	left: 32px;
}

ol.playlist li::before {
	content: counter(playlist-counter) ".";
	text-align: right;
	color: #fff;
	position: absolute;
	right: calc(100% + 2px);
	top: 5px;
}

ol.playlist li.active-audio::before,
ol.playlist li.active-audio a {
	color: #003c3c;
}

ol.playlist li.active-audio a {
	text-decoration: none;
	text-shadow: 0 0 1px;
}

ol.playlist li a {
	color: #fff;
	padding: 5px;
	display: block;
}

ol.playlist li a:hover {
	text-decoration: none;
	text-shadow: 0 0 3px;
}

@media (max-width: 767px) {
	div.container {
		margin: 0 8px;
	}

	/* Lists */
	ul.square ul li {
		left: -20px;
	}

	ul.square ul li::before {
		font-size: 8px;
		left: -10px;
	}

	ol.custom li.custom {
		margin-bottom: 8px;
		margin-right: -18px;
		left: -17px;
	}

	ol.custom li.custom::before {
		left: -22px;
		top: 2px;
		padding: 1px 2.6px 1px 2.6px;
		line-height: 12px;
		border-width: 1px;
		box-shadow: 1px 1px #999;
	}

	ul.custom-square li {
		margin-left: -17px;
		padding: 5px 0;
	}

	ol.par-alpha li {
		margin-left: -17px;
		padding: 5px 0;
	}

	ol.par-alpha li::before {
		left: -15px;
	}

	/* Header */
	div.header h1 {
		padding: 22px 0;
	}

	div.header h1 a {
		font-size: 32px;
	}

	/* Sticky navigation bar */
	ul.topnav li a {
		font-size: 13px;
		padding: 6px;
	}

	/* Footer */
	div.footer {
		padding: 8px;
	}

	/* Icon */
	div.icon {
		width: 24px;
		height: 24px;
	}

	div.icon-github {
		right: 11px;
		bottom: 4.5px;
	}

	div.icon-facebook {
		right: 47px;
		bottom: 4.5px;
	}

	/* Dropdown */
	div.hide-content {
		margin: 4px 0;
		border-width: 1px;
		border-radius: 8px;
		padding: 9px;
	}

	div.hide-content code {
		font-size: 10px;
	}

	a.hide-content:link,
	a.hide-content:visited {
		padding: 0 2px;
		border-radius: 2px;
	}

	a.hide-content:hover {
		background: var(--hide-text-bgcolor);
		color: var(--hide-text-color);
		text-decoration: none;
	}

	/* Iframe */
	div.iframe {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 56.25%;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	iframe.responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	/* Playlist */
	audio.playlist {
		width: 99%;
		height: 24px;
		margin: 14px 0 5px;
		padding: 2px;
		border-radius: 20px;
	}

	div.playlist {
		padding: 0;
		width: 100%;
		margin-bottom: 14px;
		border-radius: 10px;
	}

	ol.playlist {
		width: 90%;
		padding: 5px;
	}

	ol.playlist li {
		left: 20px;
	}

	ol.playlist li::before {
		right: calc(100% + 3px);
		top: 2px;
	}

	ol.playlist li a {
		padding: 2px;
	}

	ol.playlist li a:hover {
		text-shadow: 0 0 1px;
	}
}
